<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sns.dao.snsContentAnswerMapper" >
  <resultMap id="BaseResultMap" type="com.sns.model.snsContentAnswer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="auid" property="auid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
  </resultMap>

    <resultMap type="com.sns.model.snsContentAnswer" id="answerList">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="cid" property="cid" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="aid" property="aid" jdbcType="INTEGER" />
        <result column="auid" property="auid" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
        <collection ofType="com.sns.model.snsUser" property="fuser">
            <result property="uname" column="uname"/>
            <result property="info" column="info"/>
            <result property="img" column="img"/>
        </collection>
        <collection ofType="com.sns.model.snsUser" property="auser">
            <result property="uname" column="uname"/>
            <result property="info" column="info"/>
            <result property="img" column="img"/>
        </collection>
    </resultMap>

  <sql id="Base_Column_List" >
    id, cid, uid, aid, auid, content, creattime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sns_content_answer
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByCid" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
        <![CDATA[
        select
        a.id,a.cid as answerid,a.uid as fuid,fuser.uname as funame,a.auid as auid,auser.uname as auname,a.content,a.creattime
        from sns_content_answer as a
        LEFT JOIN sns_user as fuser on a.uid = fuser.uid
        LEFT JOIN sns_user as auser on a.auid = auser.uid
        WHERE a.cid = #{id,jdbcType=INTEGER} and (a.uid = #{uid,jdbcType=INTEGER} or a.auid = #{uid,jdbcType=INTEGER})
        ]]>
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sns_content_answer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sns.model.snsContentAnswer" >
    insert into sns_content_answer (id, cid, uid, 
      aid, auid, content, 
      creattime)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{aid,jdbcType=INTEGER}, #{auid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{creattime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sns.model.snsContentAnswer" >
    insert into sns_content_answer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="auid != null" >
        auid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="auid != null" >
        #{auid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sns.model.snsContentAnswer" >
    update sns_content_answer
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="auid != null" >
        auid = #{auid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sns.model.snsContentAnswer" >
    update sns_content_answer
    set cid = #{cid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      aid = #{aid,jdbcType=INTEGER},
      auid = #{auid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      creattime = #{creattime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>