<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sns.dao.snsClanMapper" >
  <resultMap id="BaseResultMap" type="com.sns.model.snsClan" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="CHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, code, cname, info, img, uid, type, creattime, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sns_clan
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sns_clan
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sns.model.snsClan" >
    insert into sns_clan (cid, code, cname, 
      info, img, uid, type, 
      creattime, state)
    values (#{cid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR}, #{img,jdbcType=CHAR}, #{uid,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{creattime,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sns.model.snsClan" >
    insert into sns_clan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sns.model.snsClan" >
    update sns_clan
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=CHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sns.model.snsClan" >
    update sns_clan
    set code = #{code,jdbcType=VARCHAR},
      cname = #{cname,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      img = #{img,jdbcType=CHAR},
      uid = #{uid,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      creattime = #{creattime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=TINYINT}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>